/*---------------LEAGE-GOTHIC REGULAR---------*/
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/Leaguegothic/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/Leaguegothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------OPEN SANS LIGHT---------*/
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Opensans/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/Opensans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/Opensans/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/Opensans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------MARIADPRO REGULAR---------*/
@font-face {
    font-family: 'MariadPro Regular';
    src: url('../fonts/MariadPro/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MariadPro/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



