/*IE8 does not support double colon '::', so we putting one ':' */

.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}

.logo__text:after {
    content: '';
    display: inline-block;
    background: url('../img/ER-logo.png') no-repeat;
    width: 29px;
    height: 36px;
    margin-left: 2px;
}

/*IE8 does not support gradients, so we putting images instead */

.about {
    background: url('../img/ForIe8/about-bg_320and480.jpg');
}

.menu:hover {
    background: url('../img/ForIe8/hovermenu-bg.png');
}

.menu:hover .menu__link_opacity {
    background: url('../img/ForIe8/opasity-button-bg.png')
}

.slider__item {
    background: url('../img/ForIe8/black-nav.png');
    height: 17px;
    width: 17px;
    border: 0;
}

.slider__circle {
    width: 11px;
    height: 11px;
    background: url('../img/ForIe8/white-circle.png');
    border: 0;
}

.clients__nav {
    background: url('../img/ForIe8/white-nav.png');
    height: 17px;
    width: 17px;
    border: 0;
}

.clients__nav-circle {
    background: url('../img/ForIe8/black-circle.png');
    height: 13px;
    width: 14px;
    border: 0;
}

.iphone__circle-blue {
    background: url('../img/ForIe8/play_button.png');

    border: 0;
}

.iphone__circle-purple {
    display: none;
}

.iphone__circle-pink {
    display: none;
}

.iphone__triangle {
    display: none;
}

/*IE8 does not support RGBA , so we putting semi-opasity png files */
/*Respond js works only with PNG files */

@media only screen and(min-width: 480px) {

    .slider {
        background: url('../img/semi-opasity.png');
    }
}

@media only screen and(min-width: 768px) {
    .about {
        background: url('../img/ForIe8/about-bg_768and960.png');
    }
}
