@import url('fonts.css');
@import url('normalize.css');

/*-------------------------MAIN SETTINGS---------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, textarea {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

ul li {
    list-style: none;
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}
/*-------------------------320px to 480px---------------------------*/

body {
    background: url('../img/bg.png') no-repeat center top;
}

/*---------------------------LOGO----------------------------------*/
.logo {
    text-align: center;
}

.logo__text {
    font: 48px  "League Gothic Regular", Arial, sans-serif;
    text-shadow: 0 1px 1px #3d3639;
}

.logo__link {
    color: #fff;
}

.logo__text::after {
    content: '';
    display: inline-block;
    background: url('../img/ER-logo.png') no-repeat;
    width: 29px;
    height: 36px;
    margin-left: 2px;
}

/*---------------------------DROP-DOWN NAVIGATION----------------------------------*/
header {
    position: relative;
    z-index: 1;
    margin-top: 60px;
}

nav {
    margin-top: 23px;
    height: 29px;
}

.menu {
    width: 50px;
    margin: auto;
    text-align: center;
}

.menu__item {
    display: none;
}

.menu .menu__item:first-child {
    display: list-item;
}

.menu .menu__link_lighted {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    padding: 0 5px 2px;
    border-bottom: 2px solid #edbfff;
}

.menu:hover {
    position: relative;
    left: 0;
    top: -11px;
    margin:auto;
    width: 247px;
    background: rgba(54, 41, 62, 0.9);
    border-radius: 9px;
    border: 1px solid #051116;
}

.menu:hover .menu__item {
    display: list-item;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #503d58;
}


.menu:hover .menu__item:first-child {
    border-top: none;
}

.menu:hover .menu__item:last-child {
    border-bottom: none;
}

.menu:hover .menu__link {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    color: #fff;
    display: block;
    padding: 5px 0 6px;
}

.menu:hover .menu__link_lighted {
    margin: 7px auto 3px;
    width: 48px;
    text-shadow: 0 0 3px #fff;
    padding: 3px 0 2px;
    border-bottom: 2px solid #edbfff;
}

/* Link modifier - MORE OPACITY AND UNDERLINE LINK */
.menu:hover .menu__link_opacity {
    background: rgba(54, 41, 62, 0.9);
    border-bottom: 2px solid #edbfff;
    padding: 4px 0 5px;
}

/*---------------------------SLIDER----------------------------------*/
.slider {
    margin-top: 48px;
    height: 212px;
}

.slider__container {
    display: inline-block;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider__wrapper {
    width: 212px;
    text-align: left;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px;
    padding: 0 0 8px 10px;
}

.slider__left-arrow {
    background: url('../img/left-arrow.png') no-repeat;
    height: 33px;
    width: 23px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider__right-arrow {
    background: url('../img/right-arrow.png') no-repeat;
    height: 35px;
    width: 23px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.iphone {
    display: none; /* Включать в других расширениях экрана - inline-block */
}

.slider__main-slogan {
    color: #fefefe;
    font: 36px "League Gothic Regular", Arial, sans-serif;
    text-shadow: 0 1px 1px #000;
}

.slider__slogan {
    color: #edbfff;
    font: 18px "League Gothic Regular", Arial, sans-serif;
    line-height: 15px;
    height: 15px;
    width: 202px;
    overflow: hidden;
}

.slider__text {
    font: 16px "Open Sans Light", sans-serif;
    color: #fff;
    display: none;
}

.slider__nav {
    text-align: center;
    padding-left: 8px;
}

.slider__item {
    margin: 0 1px;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(0,0,0,0.3);
}

.slider__circle {
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    margin: auto;
    background: linear-gradient(#fff, #e0dedf);
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/*---------------------------MAIN SECTION ----------------------------------*/
main {
    background: url('../img/bg-main.png') repeat;
    box-shadow: 0 13px 10px -10px #414545;
    position: relative;
    margin-top: 65px;
}

/*---------------------------ABOUT - SECTION ----------------------------------*/

.about {
    padding: 67px 0 43px;
    border: 1px solid #35273c;
    background: linear-gradient(#755284, #36293d);
    box-shadow: 0 13px 10px -10px #989d9d;
}

.about__item {
    width: 266px;
    margin: 0 auto 20px;
    padding-left: 5px;
}

.about__item_lower {
    margin-top: 36px;
}

.about__icon {
    background: url('../img/about-icons.png') no-repeat 0 0;
    height: 25px;
    width: 28px;
    margin-top: 7px;
    float: left;
}

.about__wrap {
    padding-left: 50px;
}

.about__header {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    text-shadow: 1px 1px #000;
    color: #fff;
}

.about__description {
    font: 16px 'Open Sans Light', Arial, sans-serif;
    text-shadow: 1px 1px #000;
    color: #fff;
    line-height: 25px;
    height: 74px;
    overflow: hidden;
}

.about__link {
    margin-top: 12px;
    display: block;
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px #202020;
    font: 18px "League Gothic Regular", Arial, sans-serif;
}

.about__link_lighted {
    text-shadow: 0 0 12px #ffffff;
}
/*---------------------------CLIENTS & UPDATES SECTION ----------------------------------*/
.clients-updates-wrap {
    border-bottom: 1px solid #e6e6e6;
}
/*---------------------------CLIENTS - SECTION ----------------------------------*/
.clients {
    padding: 70px 0 0 23px;
    width: 279px;
    margin: auto;
}

.clients__wrap {
    box-shadow: 0 1px 1px #D2D2D2;
    margin: 0 auto 23px;
    padding: 25px 35px 33px;
    position: relative;
    background: #fff;
}

.clients__photo {
    background: url('../img/client-photo.png') no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -24px;
    top: 18px;
}

.clients__header {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    color: #454545;
    width: 85px;
    line-height: 24px;
}

.clients__header_pink {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    color: #edbfff;
    line-height: 10px;
}

.clients__text {
    font: 16px 'Open Sans Light', Arial, sans-serif;
    color: #454545;
    overflow: hidden;
    margin: 4px 0 0 3px;
    height: 162px;
    line-height: 24px;
}

.clients__nav-row {
    margin: auto;
    text-align: center;
    padding-left: 22px;
}

.clients__nav {
    position: relative;
    display: inline-block;
    border: 1px solid #e9efef;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
}

.clients__nav-circle {
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    margin: auto;
    background: linear-gradient(#8a8a8a, #464646);
    border: 1px solid #6f6f6f;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
/*---------------------------RESENT UPDATES ----------------------------------*/
.updates__container {
    margin: 40px auto 85px;
}

.updates {
    width: 283px;
    margin: auto;
}

.updates__article {
    margin-left: 2px;
}

.updates__article_lower {
    margin-bottom: 6px;
}

.updates__header {
    font: 30px "League Gothic Regular", Arial, sans-serif;
    color: #454545;
    margin-bottom: 13px;
}

.updates__wrap {
    float: left;
    width: 216px;
    margin: 0 0 17px 18px;
}

.updates__icon1 {
    background: url('../img/updates-icons.png') no-repeat -113px -7px;
    height: 47px;
    width: 47px;
    float: left;
    border-radius: 100%;
}

.updates__icon2 {
    background: url('../img/updates-icons.png') no-repeat -113px -72px;
    height: 47px;
    width: 47px;
    float: left;
    border-radius: 100%;
}

.updates__icon3 {
    background: url('../img/updates-icons.png') no-repeat -154px -23px;
    height: 47px;
    width: 47px;
    float: left;
    border-radius: 100%;
}


.updates__topic {
    font: 16px 'Open Sans Extrabold', Arial, sans-serif;
    color: #454545;
    overflow: hidden;
    height: 23px;
}

.updates__posted {
    font: 16px 'Open Sans Light', Arial, sans-serif;
    color: #454545;
    margin-top: 2px;
    overflow: hidden;
    height: 23px;
}

.updates__more-wrapper {
    text-align: right;
    margin: auto;
    padding-right: 3px;
}

.updates__more {
    font: 19px "League Gothic Regular", Arial, sans-serif;
    color: #454545;
}

.updates__hidden {
    display: none;
    font: 19px "League Gothic Regular", Arial, sans-serif;
    color: #454545;
}

/*---------------------------TRADEMARKS SECTION ----------------------------------*/
.trademarks {
    width: 297px;
    margin: auto;
    padding: 22px 0 46px;
    text-align: center;
}

.trademarks__img {
    margin: 30px 26px;
    vertical-align: middle;
}

.trademarks__img_lower {
    margin: 30px 30px 14px 30px;
}

/*---------------------------CATEGORIES SECTION ----------------------------------*/

.categories {
    background: url('../img/bg-categories.png');
    border-top: 1px solid #d8d8d8;
    padding: 76px 0 89px;
    display: none;
}

.categories__wrap {
    width: 440px;
    margin: auto;
}

.categories__item {
    margin-bottom: 59px;
}

.categories__header {
    font: 24px "League Gothic Regular", Arial, sans-serif;
    margin-bottom: 8px;
    color: #454545;
    text-shadow: 1px 1px #fff;
}

.categories__text {
    font: 16px "Open Sans Light", Arial, sans-serif;
    height: 90px;
    overflow: hidden;
    color: #787878;
    text-shadow: 1px 1px #fff;
    line-height: 23px;
}

.categories__copyright {
    display: none;
}

.hidden__header {
    display: none;
}

.categories__header_resent {
    display: none;
}

/*---------------------------FOOTER SECTION ----------------------------------*/

.footer {
    background: url('../img/bg-footer.png') no-repeat center bottom;
    height: 200px;
    text-align: center;
    padding-top: 39px;
}

.footer__copyright {
    font: 12px "Open Sans Light", Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 2px 1px #535357;
}

.footer__copyright_bold {
    font-family: "Open Sans Extrabold", Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 2px 1px #5f5f64;
}

.fmenu {
    display: none;
}

/*---------------------------Changes for 480px resolution----------------------------------*/

@media only screen and (min-width: 480px) {

    .slider {
        margin-top: 32px;
        background: rgba(0, 0, 0, 0.2);
        height: 246px;
    }

    .slider__wrapper {
        margin: 0 0 0 12px;
        padding: 0 0 8px 4px;
    }



    .slider__nav {
        margin-top: 23px;
        padding-left: 8px;
    }

    main {
        margin-top: 56px;
    }

    .iphone {
        display: block;
        margin: 0 9px 0 9px;
        background: url('../img/iphone480.png');
        width: 192px;
        height: 304px;
        float: left;
        position: relative;
        top: -9px;
        left: 0;
    }

    .about {
        padding: 74px 0 48px;
    }

    .about__item {
        width: 426px;
        padding-left: 6px;
    }

    .about__item_lower {
        margin-top: 24px;
    }

    .clients {
        width: 440px;
    }

    .clients__wrap {
        padding: 23px 21px 35px 35px;
    }

    .clients__header {
        font: 30px "League Gothic Regular", Arial, sans-serif;
        margin: 0 0 11px 3px;
        width: auto;
    }

    .clients__header_pink {
        font: 30px "League Gothic Regular", Arial, sans-serif;
    }

    .clients__nav-row {
        padding-left: 0;
        padding-right: 10px;
    }

    .clients__text {
        height: 166px;
    }

    .updates {
        width: 344px;
    }

    .updates__container {
        margin: 40px auto 86px;
    }

    .updates {
        width: 375px;
        padding-left: 30px;
    }

    .updates__article {
        margin: 0 0 2px 2px;
    }

    .updates__wrap {
        width: 258px;
        margin: 0 0 17px 18px;
    }

    .updates__article_lower {
        margin-bottom: 1px;
    }

    .trademarks {
        width: 407px;
        padding: 24px 0 26px;
    }

    .trademarks__img {
        margin: 13px 26px;
        vertical-align: middle;
    }

    .categories {
        display: block;
        padding: 76px 0 34px;
    }

    .categories__wrap {
        width: 444px;
        margin: auto;
    }

    .footer {
        padding-top: 44px;
    }

    .fmenu {
        display: block;
        width: 439px;
        margin: 0 auto 32px;
    }

    .fmenu__item {
        float: left;
        margin-left: 25px;
    }

    .fmenu__item:first-child {
        margin-left: 0;
    }

    .fmenu__link {
        font: 20px "League Gothic Regular", Arial, sans-serif;
        color: #fff;
        text-shadow: 1px 2px 1px #535357;
        display: block;
    }
}
/*--------------------------- 768px ----------------------------------*/

@media only screen and (min-width: 768px){

    .logo {
        width: 732px;
        text-align: left;
        margin: auto;
    }

    nav {
        width: 732px;
        margin: 21px auto 0;
    }

    .menu {
        width: auto;
        text-align: left;
    }

    .menu__item {
        float: left;
        margin-left: 52px;
        display: list-item;
    }

    .menu__item:first-child {
        margin-left: 0;
    }


    .menu .menu__link_lighted {
        margin: 0;
        width: auto;
        text-shadow: 1px 2px 1px #535357;
        padding: 0 0 0 0;
        border-bottom: 0;
    }

    /* Link modifier - MORE OPACITY AND UNDERLINE LINK */
    .menu .menu__link_opacity {
        background: 0;
        border-bottom: 0;
        padding: 0 0 0 0;
    }


    .menu .menu__link {
        font: 24px "League Gothic Regular", Arial, sans-serif;
        display: block;
        float: left;
        color: #fff;
        text-shadow: 1px 2px 1px #535357;
    }

    .menu:hover {
        position: static;
        left: 0;
        top: 0;
        margin: auto;
        width: auto;
        background: 0;
        border-radius: 0;
        border:0;
    }

    .menu:hover .menu__item {
        display: list-item;
        border-bottom: 0;
        border-top: 0;
    }


    .menu:hover .menu__item:first-child {
        border-top: 0;
    }

    .menu:hover .menu__item:last-child {
        border-bottom: 0;
    }

    .menu:hover .menu__link {
        font: 24px "League Gothic Regular", Arial, sans-serif;
        display: block;
        padding: 0;
        text-shadow: 1px 2px 1px #535357;
    }

    .menu:hover .menu__link_lighted {
        margin: 0;
        width: auto;
        text-shadow: 1px 2px 1px #535357;
        padding: 0;
        border-bottom: 0;
    }

    /* Link modifier - MORE OPACITY AND UNDERLINE LINK */
    .menu:hover .menu__link_opacity {
        background: 0;
        border-bottom: 0;
        padding: 0 0 0 0;
    }

    .iphone {
        display: block;
        background: url('../img/iphone.png') no-repeat;
        width: 274px;
        height: 434px;
        float: left;
        position: relative;
        top: -23px;
        left: 0;
        margin: 0 23px 0 110px;
    }

    .iphone__play {
        position: relative;
        left: 137px;
        top: 108px;
    }

    .iphone__blue__circle {
        width: 76px;
        height: 76px;
        border: 12px solid rgba(148, 151, 152, 0.5);
        border-radius: 100%;
    }

    .iphone__purple__circle {
        position: relative;
        left: -9px;
        top: -9px;
        width: 70px;
        height: 70px;
        border: 6px solid #46324f;
        border-radius: 100%;
    }

    .iphone__pink__circle {
        position: relative;
        left: 4px;
        top: 4px;
        width: 50px;
        height: 50px;
        background: rgba(203, 165, 218, 0.7);
        border-radius: 100%;
    }

    .iphone__triangle {
        position: relative;
        left: 17px;
        top: 12px;
        border-radius: 3px;
        border-style: solid;
        border-width: 13px 0 13px 23px;
        border-color: transparent transparent transparent #ffffff;
    }

    .flash {
        background: url('../img/flash.png') no-repeat;
        width: 42px;
        height: 42px;
        position: relative;
        left: 112px;
        top: 38px;
    }

    .main {
        margin-top: 97px;
    }

    .slider {
        margin-top: 75px;
        height: 400px;
    }

    .slider__wrapper {
        width: 294px;
        padding: 0 0 15px 0;
        margin: 0 0 0 21px;
    }

    .slider__text {
        display: block;
        height: 100px;
        overflow: hidden;
        line-height: 25px;
    }

    .slider__main-slogan {
        font-size: 48px;
        line-height: 45px;
    }

    .slider__nav {
        margin-top: 37px;
        padding-left: 398px;
    }

    .slider__slogan {
        font-size: 24px;
        line-height: 41px;
        width: 269px;
        overflow: hidden;
        height: 41px;
    }

    .about {
        margin-top: 97px;
        padding: 74px 0 64px;
    }

    .about__container {
        width: 718px;
        margin: auto;
    }

    .about__item {
        width: 203px;
        padding-left: 6px;
        float: left;
        margin: 0 0 0 49px;
    }

    .about__item_right {
        margin-left: 60px;
    }

    .about__item:first-child {
        margin-left: 0;
    }

    .about__item_lower {
        margin-top: 0;
    }

    .about__description {
        height: 140px;
        line-height: 24px;
    }

    .clients-updates__container {
        width: 730px;
        margin: 100px auto 68px;
        padding-left: 20px;
    }

    .clients {
        float: left;
        padding: 0 0 0 3px;
        width: 316px;
    }

    .clients__wrap {
        margin: 0 auto 24px;
        padding: 29px 21px 40px 36px;
    }

    .clients__nav-row {
        padding-right: 0;
    }

    .clients__header {
        font: 24px "League Gothic Regular", Arial, sans-serif;
        color: #454545;
        width: 85px;
        line-height: 24px;
        margin-bottom: 9px;
    }

    .clients__header_pink {
        font: 24px "League Gothic Regular", Arial, sans-serif;
        color: #edbfff;
        line-height: 10px;
    }

    .clients__text {
        font: 16px 'Open Sans Light', Arial, sans-serif;
        color: #454545;
        overflow: hidden;
        margin: 4px 0 0 3px;
        height: 146px;
        line-height: 24px;
    }

    .updates {
        width: 364px;
        padding-left: 27px;
    }

    .updates__container {
        float: left;
        margin: 25px 0 0 30px;
    }

    .trademarks {
        width: 776px;
        padding: 13px 0 16px;
    }

    .categories {
        padding: 98px 0 36px;
    }

    .categories__wrap {
        width: 747px;
        padding-left: 7px;
    }

    .categories__item {
        float: left;
        width: 210px;
        margin-left: 56px;
    }

    .categories__item_right {
        margin-left: 54px;
    }

    .categories__item:first-child {
        margin-left: 0;
    }

    .categories__text {
        height: 166px;
        line-height: 24px;
    }

    .fmenu {
        width: 731px;
        margin: 0 auto 32px;
    }

    .fmenu__item {
        margin-left: 43px;
    }

    .footer__copyright {
        width: 722px;
        margin: auto;
        text-align: right;
    }

}
/*--------------------------- 960px ----------------------------------*/

@media only screen and (min-width: 960px){

    .header {
        width: 965px;
        margin: 39px auto 0;
    }

    .logo__star {
        background: url('../img/logo-star.png');
        position: relative;
        left: 12px;
        top: 12px;
        width: 21px;
        height: 21px;
    }

    .logo {
        float: left;
        width: auto;
    }

    nav {
        width: auto;
        margin: 32px 0 0 166px;
        float: left;
    }

    .menu .menu__link_lighted {
        padding: 0 5px 0;
        border-bottom: 2px solid #edbfff;
    }

    .menu:hover .menu__link_lighted {
        padding: 0 5px 0;
        border-bottom: 2px solid #edbfff;
    }

    .menu__item {
        margin-left: 47px;
    }

    .menu__item_right {
        margin-left: 52px;
    }

    .slider {
        margin-top: 159px;
    }

    .slider__container {
        width: 1006px;
    }

    .slider__main-slogan {
        font-size: 60px;
        line-height: 51px;
    }

    .slider__slogan {
        font-size: 32px;
        width: 408px;
    }

    .slider__text {
        font-size: 18px;
        height: 149px;
        line-height: 24px;
    }

    .slider__wrapper {
        width: 504px;
        padding: 6px 0 0 0;
    }

    .slider__left-arrow {
        background: url('../img/left-arrow.png') no-repeat;
        height: 33px;
        width: 23px;
        float: left;
        position: absolute;
        top: 50%;
        left: -295px;
        transform: translateY(-50%);
    }

    .slider__right-arrow {
        background: url('../img/right-arrow.png') no-repeat;
        height: 35px;
        width: 23px;
        float: left;
        position: absolute;
        top: 50%;
        left: 1278px;
        transform: translateY(-50%);
    }

    .slider__nav {
        margin-top: 94px;
        padding-left: 540px;
    }

    main {
        margin-top: 54px;
    }

    .about {
        margin-top: 0;
        padding: 73px 0 66px;
    }

    .about__container {
        width: 946px;
    }

    .about__icon {
        margin: 13px 0 0 -2px;
    }

    .about__icon2 {
        background: url('../img/about-icons.png') no-repeat -31px 0;
    }

    .about__icon3 {
        background: url('../img/about-icons.png') no-repeat -65px 0;
    }

    .about__header {
        font-size: 30px;
    }

    .about__item {
        width: 270px;
        margin: 0 0 0 68px;
    }

    .about__item_wider {
        width: 275px;
    }

    .about__item_closer {
        margin: 0 0 0 63px;
    }

    .about__description {
        height: 125px;
        line-height: 24px;
        margin-top: 5px;
    }

    .clients-updates__container {
        width: 962px;
        padding-left: 20px;
    }

    .clients {
        width: 430px;
    }

    .updates__more {
        display: none;
    }

    .updates__hidden {
        display: block;
    }
    /* TOOLTIP */
    .clients__wrap {
        padding: 25px 21px 40px 36px;
        position: relative;
    }

    .clients__wrap::after {
        position: absolute;
        top: 100%;
        left: 365px;
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 0 20px;
        border-color: #fff transparent transparent transparent;
    }

    .clients__wrap::before {
        position: absolute;
        top: 100%;
        left: 365px;
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 0 0 23px;
        border-color: #D2D2D2 transparent transparent transparent;
        margin-left: -2px;
    }

    .clients__header {
        font: 30px "League Gothic Regular", Arial, sans-serif;
        margin: 0 0 6px 3px;
        width: auto;
    }

    .clients__text {
        height: 164px;
    }

    .clients__header_pink {
        font: 30px "League Gothic Regular", Arial, sans-serif;
    }

    .updates {
        width: 468px;
    }

    .updates__wrap {
        width: 374px;
    }

    .updates__more-wrapper {
        padding-right: 8px;
    }

    .updates__container {
        float: left;
        margin: 25px 0 0 32px;
    }

    .trademarks {
        padding: 12px 0 17px;
        width: 838px;
    }

    .trademarks__img {
        margin: 13px 31px;
    }

    .categories__copyright {
        font: italic 16px "Georgia", serif;
        text-shadow: 1px 1px 1px #fff;
        display: block;
        color: #c5c5c5;
    }

    .categories {
        padding: 93px 0 32px;
    }

    .categories__item {
        width: 277px;
        margin: 0 0 59px 61px;
    }

    .categories__item_right {
        margin-left: 63px;
    }

    .categories__header {
        font-size: 30px;
        margin-bottom: -6px;
    }

    .categories__text {
        margin-top: 10px;
        height: 122px;
    }

    .categories__text_show {
        height: 166px;
    }

    .categories__wrap {
        width: 977px
    }

    .hidden__header {
        font: 48px "League Gothic Regular", Arial, sans-serif;
        color: #454545;
        text-shadow: 0 2px 2px #fff;
        display: block;
        line-height: 52px;
        margin-bottom: 9px;
    }

    .hidden__header_silver {
        color: #b9b9b9;
        text-shadow: 0 2px 1px #fff;
    }

    .categories__header_off {
        display: none;
    }

    .categories__header_resent {
        display: block;
    }

    .clear_word {
        display: none;
    }

    .footer__container {
        width: 962px;
        margin: auto;
    }

    .fmenu {
        float: left;
        width: auto;
    }

    .footer__copyright {
        float: left;
        width: auto;
        margin: 7px 0 0 296px;
    }

    .iphone {
        display: block;
        background: url('../img/iphone.png') no-repeat;
        width: 274px;
        height: 434px;
        float: left;
        position: relative;
        top: -17px;
        margin: 0 27px 0 112px;
    }

    .flash {
        display: none;
    }

    .iphone__play {
        position: relative;
        left: 137px;
        top: 149px;
    }

    .iphone__blue__circle {
        width: 76px;
        height: 76px;
        border: 12px solid rgba(148, 151, 152, 0.5);
        border-radius: 100%;
    }

    .iphone__purple__circle {
        position: relative;
        left: -9px;
        top: -9px;
        width: 70px;
        height: 70px;
        border: 6px solid #46324f;
        border-radius: 100%;
    }

    .iphone__pink__circle {
        position: relative;
        left: 4px;
        top: 4px;
        width: 50px;
        height: 50px;
        background: rgba(203, 165, 218, 0.7);
        border-radius: 100%;
    }

    .iphone__triangle {
        position: relative;
        left: 17px;
        top: 12px;
        border-radius: 3px;
        border-style: solid;
        border-width: 13px 0 13px 23px;
        border-color: transparent transparent transparent #ffffff;
    }

}
