@import url('fonts.css');

/*-------------------------MAIN SETTINGS---------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bg.png') no-repeat center top;
}

input, textarea {
    width: 100%;
}

.clear-fix {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}
/*
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

[class*="col-"] {
    float: left;
}

*/
/*-------------------------MOBILE FIRST!!!(320px to 480px)---------------------------*/

/*---------------------------LOGO----------------------------------*/
.logo {
    text-align: center;
    margin-top: 60px;
}

.logo__text {
    font: 48px  League Gothic Regular, sans-serif;
    color: #fff;
    text-shadow: 0 1px 1px #3d3639;
}

.logo__text::after {
    content: '';
    display: inline-block;
    background: url('../img/ER-logo.png') no-repeat;
    width: 29px;
    height: 36px;
    margin-left: 2px;
}

/*---------------------------DROP-DOWN NAVIGATION----------------------------------*/
nav {
    margin-top: 20px;
}

.dropdown-menu__button {
    text-align: center;
    position: relative;
    font: 24px League Gothic Regular, sans-serif;
    color: #fff;
    display: block;
    width: 48px;
    padding: 3px 0 2px;
    margin: auto;
    border-bottom: 3px solid #edbfff;
}

.dropdown-menu__button:hover > .menu {
    display: block;
}

.menu {
    position: absolute;
    top: -8px;
    left: -98px;
    text-align: center;
    width: 245px;
    background: rgba(54, 41, 62, 0.9);
    margin: auto;
    border-radius: 9px;
    border: 1px solid #051116;
    display: none;
}

.menu__item {
    list-style: none;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #503d58;
}

.menu__link {
    font: 24px League Gothic Regular, sans-serif;
    color: #fff;
    display: block;
    padding: 2px 0 9px;
}

.menu__item:first-child {
    border-top: none;
}

.menu__item:last-child {
    border-bottom: none;
}

/* Link modifier - LIGHTED LINK */
.menu__link_lighted {
    margin: 7px auto 4px;
    width: 48px;
    text-shadow: 0 0 3px #fff;
    padding: 3px 0 2px;
    border-bottom: 3px solid #edbfff;
}

/* Link modifier - MORE OPACITY AND UNDERLINE LINK */
.menu__link_opacity {
    background: rgba(54, 41, 62, 0.9);
    border-bottom: 2px solid #edbfff;
    padding: 2px 0 7px;
}

/*---------------------------SLIDER----------------------------------*/

.slider {
    width: 212px;
    margin: 116px auto 0;
    padding-left: 10px;
}

.slider__main-slogan {
    color: #fefefe;
    font: 36px League Gothic Regular, sans-serif;
}

.slider__slogan {
    color: #edbfff;
    font: 18px League Gothic Regular, sans-serif;
}

.slider__text {
    font: 16px MariadPro Regular, sans-serif;
    display: none;
}

.slider__nav-row {
    margin-top: 74px;
    text-align: center;
}

.slider__nav {
    position: relative;
    display: inline-block;
    margin: 0 2px 0 1px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgba(0,0,0,0.3);
}

.slider__circle {
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    margin: auto;
    background: linear-gradient(#fff, #bbb9ba);
    border: 1px solid #fff;
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

/*---------------------------ABOUT - SECTION ----------------------------------*/
.about {
    margin-top: 65px;
    padding: 67px 0 41px;
    border: 1px solid #35273c;
    background: linear-gradient(#755284, #36293d);
    box-shadow: 0 1px 2px #fff;
}

.about__item {
    width: 258px;
    margin: 0 auto 20px;
}

.about__item-lower {
    margin-top: 34px;
}

.about__icon {
    background: url('../img/about-icons.png') no-repeat 0 0;
    height: 25px;
    width: 28px;
    margin-top: 7px;
    float: left;
}

.about__wrap {
    padding-left: 50px;
    width: 261px;
}

.about__header {
    font: 24px League Gothic Regular, sans-serif;
    text-shadow: 1px 1px #000;
    color: #fff;
}

.about__description {
    font: 16px 'Open Sans Light', Tahoma, sans-serif;
    text-shadow: 1px 1px #000;
    color: #fff;
    line-height: 25px;
}

.about__link {
    margin-top: 12px;
    display: block;
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px #000;
    font: 18px League Gothic Regular, sans-serif;
}

.about__link_lighted {
    text-shadow: 0 0 2px #fff;
}

/*---------------------------CLIENTS - SECTION ----------------------------------*/
.clients {
    width: 256px;
    box-shadow: 0 1px 1px #D2D2D2;
    margin: auto;
    padding: 27px 37px 32px;
    position: relative;
}

.clients__photo {
    background: url('../img/client-photo.png') no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -26px;
    top: 20px;
}

.clients__header {
    font: 24px League Gothic Regular, sans-serif;
    color: #454545;
}

.clients__header_pink {
    color: #edbfff;
    display: block;
}

.clients__text {
    font: 16px 'Open Sans Light';
    color: #454545;
}

/* Slider modifiers - for clients section */
.slider__nav_white {
    background: #fff;
    border: 1px solid #e2e2e2;
}

.slider__nav_black {
    background: linear-gradient(#8a8a8a, #464646);
    border: 1px solid #6f6f6f;
}

.clients__nav-row {
    text-align: center;
}